@model data.Models.Control
@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<div class="container center-block">
    <button type="button" class="btn btn-danger btn-lg" onclick="generateOutofbed()">Outofbed</button>
    <button type="button" class="btn btn-primary btn-lg" onclick="generateLeftside()">Leftside</button>
    <button type="button" class="btn btn-success btn-lg" onclick="generateRightside()">Rightside</button>
    <button type="button" class="btn btn-info btn-lg" onclick="generateBack()">Back</button>
    <button type="button" class="btn btn-warning btn-lg" onclick="generateBelly()">Belly</button>
    <br>
    <br>
    <div class="form-inline">
        <input type="checkbox" id="sensorDataCheckbox" checked="@Model.Enable" data-toggle="toggle" onchange="setAutoGenerate()"/>
        Generate sensor data automatically every
        <input class="form-control" type="number" id="sensorDataRandomFrom" value="@Model.RandomWaitTime.FromInSeconds" onchange="setAutoGenerate()"/>
        to
        <input class="form-control" type="number" id="sensorDataRandomTo" value="@Model.RandomWaitTime.ToInSeconds" onchange="setAutoGenerate()"/>
        seconds
    </div>
</div>
<br>
<br>
<div id="sensorData">
    @await Component.InvokeAsync("SensorData")
</div>
<br>
<br>